*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.dragNo{
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
/* total page */
#container{
	display: flex;
	flex-direction: row;
	width: 100%;
	min-width: 1600px;
	height: 100vh;
	min-height: 900px;
}
/** game area **/
#gamepage{
	width: 80%;
	min-width: 1280px;
	height: 100%;
	background-color: #ddd;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#boardback{
	width: 810px;
	min-width: 810px;
	height: 810px;
	min-height: 810px;
	background-color: #999;
	border-radius: 20px;
	box-shadow: inset 8px 8px 10px rgba(255, 255, 255, .25), inset -8px -8px 10px rgba(0, 0, 0, .25), 8px 8px 10px rgba(0, 0, 0, .45);
	background-color: #916D5E;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
#boardfront{
	width: 754px;
	height: 754px;
	background-color: #C3A69A;
	background-image: url('./images/lines.png');
	background-position: -3px -3px;
	/* background-size: cover; */
	background-size: 754px 754px;
	box-sizing: border-box;
	border: 3px solid #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/*** stone area ***/
#stoneboard{
	width: 810px;
	height: 810px;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
}
/**** stone design ****/
.rowStoneBox{
	width: 100%;
	height: 42px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.stoneCell{
	width: 42px;
	height: 42px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.stone{
	width: 38px;
	height: 38px;
	border-radius: 19px;
	background-color: #101010;
	box-shadow: inset 4px 4px 5px rgba(255, 255, 255, .25), inset -4px -4px 5px rgba(0, 0, 0, .25);
	cursor: pointer;
	opacity: 0;
}
/*** cover ***/
#cover{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .45);
	z-index: 100;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
}
#cover>div{
	background-color: #C3A69A;
	color: #3d2c25;
	opacity: 0.7;
	text-align: center;
	width: 600px;
	height: 100px;
	border-radius: 20px;
	font-weight: bold;
	font-size: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	box-shadow: inset 8px 8px 10px rgba(255, 255, 255, .25), inset -8px -8px 10px rgba(0, 0, 0, .25), 8px 8px 10px rgba(0, 0, 0, .45);
}
/*** stone bowl design ***/
.bowl{
	width: 20%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px 0;
}
.bowlImage{
	width: 12vw;
	min-width: 200px;
	height: 12vw;
	min-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 150px;
	box-shadow: inset 8px 8px 10px rgba(255, 255, 255, .25), inset -8px -8px 10px rgba(0, 0, 0, .25);
}
.bowlImageInside{
	width: 10vw;
	min-width: 170px;
	height: 10vw;
	min-height: 170px;
	border-radius: 120px;
	box-shadow: inset 8px 8px 10px rgba(0, 0, 0, .25), inset -6px -6px 10px rgba(255, 255, 255, .25);
}
/*** userNickName ***/
.userNickName{
	width: 12vh;
	min-width: 200px;
	height: 50px;
	border-radius: 10px;
	background-color: #f9f9f9;
	border: 3px solid #101010;
	box-shadow: inset 4px 4px 10px rgba(0, 0, 0, .25), inset -6px -6px 10px rgba(255, 255, 255, .25);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
}
/*** resultBoard ***/
.resultBox{
	width: 10vh;
	min-width: 150px;
	height: 10vh;
	min-height: 150px;
	border-radius: 20px;
	border: 3px solid #3d2c25;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	color: white;
	font-weight: bold;
	display: none;
}
/** chat area **/
#chatpage{
	width: 20%;
	min-width: 320px;
	height: 100%;
	background-color: #999;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
/*** button area ***/
#readyExitBox{
	width: 90%;
	height: 10%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.readyButton{
	width: 60%;
	height: 90%;
	background-color: #ddd;
	border-radius: 30px;
	font-size: 30px;
	background-color: #C3A69A;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: 900;
	color: #61493f;
	border: 3px solid #3d2c25;
	box-shadow: inset 8px 8px 10px rgba(255, 255, 255, .25), inset -8px -8px 10px rgba(0, 0, 0, .25);
	cursor: pointer;
}
.readyButton:hover{
	background-color: #61493f;
	color: #C3A69A;
	box-shadow: inset 4px 4px 10px rgba(0, 0, 0, .25), inset -6px -6px 10px rgba(255, 255, 255, .25);
}
.readyButtonActivate{
	background-color: #61493f;
	color: #C3A69A;
	box-shadow: inset 4px 4px 10px rgba(0, 0, 0, .25), inset -6px -6px 10px rgba(255, 255, 255, .25);
}
#exit{
	width: 30%;
	height: 90%;
	background-color: #666;
	border-radius: 30px;
	border: 3px solid #333;
	font-size: 20px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
#exit:hover{
	background-color: #333;
	color: #fff;
}
/*** chat message area ***/
#messagesTextArea{
	width: 90%;
	height: 80%;
	border-radius: 10px;
	padding: 10px;
}
/*** chat input area ***/
#inputbox{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 90%;
	height: 5%;
}
#messageText{
	width: 75%;
	height: 100%;
	border-radius: 10px;
	padding: 5px;
	border: none;
}
#messageText+input{
	width: 20%;
	height: 100%;
	border: none;
	border-radius: 10px;
	box-shadow: inset 4px 4px 10px rgba(255, 255, 255, .25), inset -4px -4px 10px rgba(0, 0, 0, .25);
	background-color: #C3A69A;
}
#messageText+input:hover{
	background-color: #a78a7d;
	cursor: pointer;
}